include components/ArticleCate
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="Content/style.css")
        link(rel="stylesheet", href="Content/fontawesome-all.min.css")
        script(src="Scripts/js/jquery-1.11.3.min.js") 
        script(src="app.js", defer) 

    body
        .cont
            +cate('seo', "#129DB2","Content/images/articleCate/bootstrap.png")
            +cate('Knockout', "#E32D23","Content/images/articleCate/docker.png")
            +cate('Design Pattern', "#8A9DB7","Content/images/articleCate/docker.png")
            +cate('آموزش نصب Visual Studio', '#682178', "Content/images/articleCate/bootstrap.png")