@import './source/variables';

.ArticleCate {
    flex: 0 0 290px;
    @include square(290px);
    background-color: grey;
    --border: 23px;
    position: relative;

    &::before {
        content: '';
        display: block;
        background-color: white;
        @include square(100%);

        clip-path: polygon(-10px -10px, calc(100% - var(--border)) var(--border), calc(100% - var(--border)) calc(100% - var(--border)), var(--border) calc(100% - var(--border)));
    }

    &::after {
        content: '';
        display: block;
        width: 2.7em;
        height: 2em;

        background: url('images/articleCate/TahlilAZ.png');
        background-size: cover;

        position: absolute;
        left: 4.1%;
        top: 4%;
        z-index: 100;
    }

    .text {
        background-color: rgba(0, 0, 0, .4);
        color: white;
        position: absolute;
        bottom: 20%;
        width: 100%;

        font-size: 1.3em;
        font-weight: 500;
        direction: ltr;

        height: 60px;
        @include flex(fe, c);

        padding-left: 2.2em;
        padding-right: 1.2em;

        .aligner {
            min-width: 8em;
            max-width: 10em;
            text-align: center;
            line-height: 1.1em;
            direction: rtl;

            span {
                filter: drop-shadow(2px 1px 2px #0000004a);
                vertical-align: middle;
            }
        }

        &::before {
            content: "www.tahlildadeh.com";
            font-family: BalooBold;
            position: absolute;
            transform: rotate(270deg);
            color: black;
            background: white;
            font-size: 0.55em;
            left: -9%;
            bottom: 42%;
            color: #999;
        }

        &::after {
            content: "";
            height: 2.7em;
            width: 1px;
            background-color: #999;
            position: absolute;
            bottom: 176%;
            left: 12.4%;
        }
    }

    img {
        position: absolute;
        top: 8%;
        bottom: 44%;
        left: 0;
        right: 0;
        margin: auto;
        max-width: var(--wid);
        max-height: var(--wid);
        --wid: 6em;
    }
}